<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-6 col-12 mx-auto">
             <div class="row">
                <div class="col-md-12 col-12 main_header_left align-items-center">
                    <figure src="errimg">
                        <img src="images/404 .png" class="img-fluid" title="Shubham Technical">
                    </figure>
               <p>Welcome to Weather App</p>
               <h1><span class="text_clr">OOPS! </span> Page Not Found.</h1>
               <a href="/"><button>Go Back</button></a>
              </div>
             </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>