<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-6 col-12 mx-auto">
             <div class="row">
                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="images/about.jpeg" class="img-fluid" title="Shubham Technical">
                    </figure>
                  </div>
              <div class="col-md-6 col-12 main_header_left">
               <p>Welcome to Weather App</p>
               <h1>I am a <span class="text_clr">Web-developer and Coder</span>. I like reading Novels.</h1>
               <a href="#"><button>About Me</button></a>
              </div>
             </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>